Repository pratyush618/fs-watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  # Ruff linting + formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Mypy type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy python/
        language: system
        pass_filenames: false
        files: \.py$

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

chore: Bump project version to 0.1.1.
  Cargo.toml
  pyproject.toml
Due: none

added doc files
  docs/api/copy.md
  docs/api/dedup.md
  docs/api/exceptions.md
  docs/api/hash.md
  docs/api/index.md
  docs/api/walk.md
  docs/api/watch.md
  docs/architecture.md
  docs/changelog.md
  docs/contributing.md
  docs/getting-started.md
  docs/guides/copy-move.md
  docs/guides/dedup.md
  docs/guides/hash.md
  docs/guides/walk.md
  docs/guides/watch.md
  docs/index.md
Due: none

added benches init file
  benches/__init__.py
Due: mypy

fixed mypy errors
  tests/__init__.py
  tests/test_hash.py
Due: mypy

update gitignore
  .gitignore
Due: none

feat: Introduce uv for dependency management, add zensical configuration
  pyproject.toml
  uv.lock
  zensical.toml
Due: none

Feat/docs (#1)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  benches/__init__.py
  docs/api/copy.md
  docs/api/dedup.md
  docs/api/exceptions.md
  docs/api/hash.md
  docs/api/index.md
  docs/api/walk.md
  docs/api/watch.md
  docs/architecture.md
  docs/changelog.md
  docs/contributing.md
  docs/getting-started.md
  docs/guides/copy-move.md
  docs/guides/dedup.md
  docs/guides/hash.md
  docs/guides/walk.md
  docs/guides/watch.md
  docs/index.md
  py_src/pyfs_watcher/__init__.py
  py_src/pyfs_watcher/_core.pyi
  py_src/pyfs_watcher/py.typed
  py_src/pyfs_watcher/watch.py
  pyproject.toml
  tests/__init__.py
  tests/test_hash.py
  uv.lock
  zensical.toml
Due: mypy

Create LICENSE
  LICENSE
Due: none

Create LICENSE (#2)
  LICENSE
Due: none

Fix copyright formatting in zensical.toml
  zensical.toml
Due: none

Fix copyright formatting in zensical.toml (#3)
  zensical.toml
Due: none

feat: add shared infrastructure for new filesystem features
  Cargo.toml
  src/errors.rs
  src/utils.rs
  src/walk.rs
Due: cargo-fmt, cargo-clippy

feat: add disk_usage() for parallel directory size calculation
  src/du.rs
  tests/test_du.py
Due: mypy, cargo-fmt, cargo-clippy

feat: add search() and search_iter() for parallel content search
  src/search.rs
  tests/test_search.py
Due: mypy, cargo-fmt, cargo-clippy

feat: add sync() for incremental directory synchronization
  src/sync.rs
  tests/test_sync.py
Due: mypy, cargo-fmt, cargo-clippy

feat: add snapshot() and verify() for file integrity monitoring
  src/snapshot.rs
  tests/test_snapshot.py
Due: mypy, cargo-fmt, cargo-clippy

feat: add bulk_rename() with dry-run preview and undo support
  src/rename.rs
  tests/test_rename.py
Due: mypy, cargo-fmt, cargo-clippy

feat: register all new features in Python bindings and update documentation
  .pre-commit-config.yaml
  README.md
  docs/api/diff.md
  docs/api/disk-usage.md
  docs/api/exceptions.md
  docs/api/index.md
  docs/api/rename.md
  docs/api/search.md
  docs/api/snapshot.md
  docs/api/sync.md
  docs/architecture.md
  docs/changelog.md
  docs/contributing.md
  docs/getting-started.md
  docs/guides/diff.md
  docs/guides/disk-usage.md
  docs/guides/rename.md
  docs/guides/search.md
  docs/guides/snapshot.md
  docs/guides/sync.md
  docs/index.md
  py_src/pyfs_watcher/__init__.py
  py_src/pyfs_watcher/_core.pyi
  pyproject.toml
  src/lib.rs
  uv.lock
  zensical.toml
Due: mypy, cargo-fmt, cargo-clippy

refactor: add errors and types submodules
  py_src/pyfs_watcher/errors.py
  py_src/pyfs_watcher/types.py
Due: mypy

refactor!: slim down top-level exports to functions and FileWatcher
  py_src/pyfs_watcher/__init__.py
  tests/test_copy.py
  tests/test_diff.py
  tests/test_du.py
  tests/test_hash.py
  tests/test_rename.py
  tests/test_search.py
  tests/test_snapshot.py
  tests/test_sync.py
  tests/test_walk.py
  tests/test_watch.py
Due: mypy

chore: bump version to 0.3.0
  Cargo.toml
  docs/changelog.md
  pyproject.toml
  zensical.toml
Due: none

docs: add project logo to landing page
  docs/assets/logo.svg
  docs/index.md
Due: none

docs: add favicon to doc site and logo to README
  README.md
  docs/assets/extra.css
  docs/assets/favicon/android-chrome-192x192.png
  docs/assets/favicon/android-chrome-512x512.png
  docs/assets/favicon/apple-touch-icon.png
  docs/assets/favicon/favicon-16x16.png
  docs/assets/favicon/favicon-32x32.png
  docs/assets/favicon/favicon.ico
  docs/assets/favicon/site.webmanifest
  docs/assets/logo.svg
  docs/index.md
  zensical.toml
Due: none

Refactor/namespace cleanup (#5)
  Cargo.toml
  README.md
  docs/api/index.md
  docs/architecture.md
  docs/assets/extra.css
  docs/assets/favicon/android-chrome-192x192.png
  docs/assets/favicon/android-chrome-512x512.png
  docs/assets/favicon/apple-touch-icon.png
  docs/assets/favicon/favicon-16x16.png
  docs/assets/favicon/favicon-32x32.png
  docs/assets/favicon/favicon.ico
  docs/assets/favicon/site.webmanifest
  docs/assets/logo.svg
  docs/changelog.md
  docs/contributing.md
  docs/index.md
  py_src/pyfs_watcher/__init__.py
  py_src/pyfs_watcher/errors.py
  py_src/pyfs_watcher/types.py
  pyproject.toml
  tests/test_copy.py
  tests/test_diff.py
  tests/test_du.py
  tests/test_hash.py
  tests/test_rename.py
  tests/test_search.py
  tests/test_snapshot.py
  tests/test_sync.py
  tests/test_walk.py
  tests/test_watch.py
  uv.lock
  zensical.toml
Due: mypy

Update logo image source in README.md (#6)
  README.md
Due: none
